@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');

:root {
   --color-background-default: #000;
   --color-default: #fff;
   --color1: #031163;
   --color2: #1978A5;
   --color3: #05716C;
   --color4: #1FBFB8;
   --color:#ddd2d2;
   /* --main-bg-color: rgba(255, 255, 255, 0.716);
   --main-color: rgb(7, 0, 0);
   --main-a-color: #0c27d7; */
}

* {
margin: 0;
padding: 0;
}

html {
   font-family: 'Quicksand', sans-serif;
   font-weight: 300;
   font-size: 36px;
   background-color: var(--color-background-default);
   color: var(--color-default);
}

body {
   max-width: 1440px;
   margin: auto;
   background-color: var(--main-bg-color);
}

.navbar {
   position: sticky;
   top: 0;
   background-color: var(--color-background-default);
   padding: 1rem;
}

nav ul {
   margin: 0;
}

nav ul li {
   list-style: none;
   display: inline-block;
   padding-right: 0.5rem;
}

nav ul li a {
   color: #fff;
   text-decoration: none;
}

header h1 {
   text-align: center;
}

footer {
   padding: 1rem;
}

p {
   padding: 0.5rem 0;
}

#introduction {
   display: flex;
   background-color: var(--color1);
   padding: 0.5rem;
}

.intro-section {
   padding: 1rem;
}

.image-section {
   position: relative;
   padding: 0.5rem;
}

.image-section h1 {
   /* align-items: center; */
   position: absolute;
   margin: 1rem;
   color: #000;
}

#introduction img {
   max-width: 100%;
}

#skills {
   background-color: var(--color2);
   padding: 1rem;
}

.list-first {
   list-style-type: circle;
   padding-left: 1rem;
}

.list-second {
   list-style-type: disc;
   padding-left: 2rem;
}

#work-experience {
   background-color: var(--color3);
   padding: 1rem;
}

#work-experience th {
   width: 50%;
   text-align: left;
}

#work-experience th, td {
  padding: 15px;
}

#contact {
   background-color: var(--color4);
   padding: 1rem;
   color: black;
}

form {
   padding: 0 15%;
   display: grid;
   grid-template-columns: auto;  
}

form > div {
   display: flex;
   justify-content: center;
}

input, textarea {
   font-size: 1rem;
}

button {
   font-size: 0.75rem;
   padding: 0.25rem 5%;
   margin: 0.25rem;
   border-radius: 10px;
}

a {
   color: var(--main-a-color);
}
